{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <h1>Mikaeelday Blog</h1>
        <h3>welcome to my personal blog :)</h3>
    </div>
    <br>
    <br>
    <br>
    {% for post in posts %}
        <div class="content">
            <h2>--> {{ post.title }}</h2>
            <p>{{ post.content | slice:":200"}}...</p>
                 <button class="button-2" role="button"><a href="{% url 'detail' post.id %}">Read</a></button>
            <br>
            <i><p>Published on: {{ post.published_date }}</p></i>
        </div>
    {% endfor %}
    <br>
        <br>
    <footer class="header">

        <h1>Contact Me</h1>
        <p style="color: #5a5a5a">email : Mikaeelrais@gmail.com</p>
        <p style="color: #5a5a5a">phone number : +989334163965</p>
        <p style="color: #5a5a5a">github : <a href="https://github.com/MikaeelDay" style="color: #725097">https://github.com/MikaeelDay</a></p>
    </footer>
{% endblock %}